/* 2x 0 - 1199px */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 1199px),
	screen and (min-resolution: 192dpi) and (max-width: 1199px),
	screen and (min-resolution: 2dppx) and (max-width: 1199px) {
	.hero {
		background-image: linear-gradient(to right, #2e2f42b3, #2e2f42b3), url(../images/dark-bg-tablet@2x.jpg);
	}
}

/* 2x 0 - 767px */

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
	screen and (min-resolution: 192dpi) and (max-width: 767px),
	screen and (min-resolution: 2dppx) and (max-width: 767px) {
	.hero {
		background-image: linear-gradient(to right, #2e2f42b3, #2e2f42b3), url(../images/dark-bg-mobile@2x.jpg);
	}
}

/* 2x 1200px + */

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
	screen and (min-resolution: 192dpi) and (min-width: 1200px),
	screen and (min-resolution: 2dppx) and (min-width: 1200px) {
	.hero {
		background-image: linear-gradient(to right, #2e2f42b3, #2e2f42b3), url(../images/hero-bg@2x.jpg);
	}
}
