/*========================== FILTERS ============================*/
.filter-input:checked + .filter-btn {
	color: var(--bg-color);
	background-color: var(--btn-hover-color);
}
.filter-btn {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-weight: 700;

	text-align: center;
	color: var(--accent-color);
	background-color: var(--secondary-color);
	cursor: pointer;

	padding: 12px 24px;
	border: 1px solid var(--secondary-txt-color);
	border-radius: 4px;

	transition: color var(--o-animation), background-color var(--o-animation), box-shadow var(--o-animation),
		border var(--o-animation);

	&:hover,
	&:focus {
		color: var(--bg-color);
		background-color: var(--accent-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		border: 1px solid var(--accent-color);
	}

	&:active {
		color: var(--bg-color);
		background-color: var(--btn-hover-color);
	}
}

.filter-list {
	display: flex;
	gap: 24px;
}
.filter-input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*======================= PORTFOLIO CARD ROW ====================*/

.card-item {
	border: 1px solid #e7e9fc;
	box-shadow: 0px 1px 6px rgb(46 47 66 / 8%);
}

.card-link {
	display: block;

	transition: box-shadow var(--o-animation);

	&:hover,
	&:focus {
		box-shadow: 4px 5px 7px rgb(46 47 66 / 8%), 3px 4px 5px rgb(46 47 66 / 16%), 1px 4px 3px rgb(46 47 66 / 8%);
	}
}

.card-link .under-card {
	padding-left: 16px;
}

.box {
	position: relative;
	overflow: hidden;
}
.overlay {
	position: absolute;
	transform: translateY(101%);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 40px 32px 164px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
	background-color: var(--accent-color);

	transition: transform var(--o-animation), opacity var(--o-animation);

	.card-link:hover &,
	.card-link:focus & {
		transform: translateY(0);
		opacity: 0.8;
	}
}

.stylish-txt {
	color: var(--secondary-color);
}

.card-img {
}
