:root {
	--primary-text-color: #434455;
	--secondary-txt-color: #e7e9fc;
	--title-text-color: #2e2f42;
	--accent-color: #4d5ae5;
	--bg-color: #ffffff;
	--secondary-color: #f4f4fd;
	--btn-hover-color: #404bbf;
	--sechover-color: #31d0aa;
	--o-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

%centeredFlex {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin centerFlex($type: flex) {
	display: $type;
	align-items: center;
	justify-content: center;
}
